.panel_trigger {
	position: absolute;
	top: 230px;
	left: 0;
	display: none;
	background: #2B2B2B;
	border:1px solid #000000;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	height: auto;
	padding: 15px;
	width:130px;
}
.panel_trigger a {
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
}
.panel_trigger h6 {
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:21px;
	margin-top:0px;
	padding-bottom:4px;
	border-bottom:#BBBBBB solid 1px;
}
.push {
	margin-bottom:14px;
}
.panel_trigger a.trigger_link {
	color:#BBBBBB;
	text-decoration:none;
}
a.trigger{
	position: fixed;
	width:30px;
	height:80px;
	top: 130px; 
	left: 0;
	background:url("../images/switcher/styles.png");
	display: block;
}

#style-switcher {
	list-style:none;
	float:right;
}
#style-switcher span {
	display:none;
}
#style-switcher li, #style-switcher a {
	height:15px;
	width:15px;
	cursor:pointer;
	list-style:none;
	float:left;
	margin-right:8px;
	margin-bottom:8px;
}
#style-switcher li {
	border:#111111 solid 1px;
}
#blue {background:url("../images/switcher/blue.jpg") no-repeat; width:15px; float:left;}
#brown {background:url("../images/switcher/brown.jpg") no-repeat}
#green {background:url("../images/switcher/green.jpg") no-repeat}
#orange {background:url("../images/switcher/orange.jpg") no-repeat}
#pink {background:url("../images/switcher/pink.jpg") no-repeat}
#purple {background:url("../images/switcher/purple.jpg") no-repeat}
#red {background:url("../images/switcher/red.jpg") no-repeat}
#salmon {background:url("../images/switcher/salmon.jpg") no-repeat}
#yellow {background:url("../images/switcher/yellow.jpg") no-repeat}

.copy {width:560px; float:left;}